body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f4fb;
    display: flex;
    flex-direction: column;
}

#metrics-container {
    display: flex; 
    gap: 16px;
    padding-top: 10px;
    height: 120px;
    width: 100%; /* To account for the fixed sidebar */
    border-radius: 20px; /* Add border-radius */
}

#planned-budget-container {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: #ffbd01;
    padding: 12px, 16px, 12px, 16px;
    border-radius: 16px;
}

#planned-budget-container h3 {
    font-family: 'Montserrat', sans-serif;
    color: #00457e;
    font-size: 17px;
    font-weight: 600;
    margin-left: 50px;
    width: 10px;
}

#budget-spent-container {
    padding: 5px;
}

#state-budget-spent h3,
#local-budget-spent h3,
#partners-budget-spent h3 {
    font-family: 'Montserrat', sans-serif;
    color: #00457e;
    font-size: 17px;
    font-weight: 600;
    margin-left: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

@media (min-width: 1480px) {
    #partners-budget-spent h3 {
        margin-bottom: 30px;
    }
}

#state-budget-spent p,
#local-budget-spent p,
#partners-budget-spent p {
    font-family: 'Montserrat', sans-serif;
    color: #00457e;
    font-size: 26px;
    font-weight: 600;
    margin-left: 50px;
    margin-top: 0px;
}

#planned-budget-container p {
    font-family: 'Montserrat', sans-serif;
    color: #00457e;
    font-size: 25px;
    font-weight: 600;
    margin-left: 50px;
    margin-top: 0px;
}

#planned-budget-container h3 {
    margin-top: 27px;
    width: 50px;
    margin-bottom: 25px;
    font-size: 20px;
}

#budget-spent-container {
    width: 70%;
    display: flex;
    gap: 16px;
    padding: 12px, 16px, 12px, 16px;
    border-radius: 16px;
}

#budget-spent-container h3 {
    margin-bottom: 25px;
    font-size: 20px;
}

#total-spent-container-header {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #00457e;
    font-size: 17px;
    font-weight: 600;
    margin-top: 0px;
    margin-left: 50px;
    width: 33%;
}

#total-spent-container-header h3 {
    font-family: 'Montserrat', sans-serif;
    color: #00457e;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 25px;
}

#total-spent-container-header p {
    font-family: 'Montserrat', sans-serif;
    color: #00457e;
    font-size: 26px;
    font-weight: 600;
    margin-top: 0px;
}

#state-budget-spent,
#local-budget-spent,
#partners-budget-spent {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 16px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color: #00457e;
    font-size: 17px;
    font-weight: 600;
    margin-top: 0px;
    width: 33%;
}

#total-spent-container {
    width: 80%;
    display: flex;
    background-color: #dcdee9;
    border-radius: 16px;
}

#main-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: calc(100% - 290px);
    gap: 20px;
}

.sidebar {
    width: 250px;
    padding: 13px;
    background-color: white;
    border-right: 1px solid #ddd; 
    position: fixed;
    top: 150px;
    right: 0;
    overflow-y: auto;
    max-height: calc(100vh - 50px); /* Adjust the height based on the metrics container height */
    border-radius: 20px;
}

#map-sidebar-container,
#treemap-sidebar-container,
#bar-charts-sidebar-container,
#tables-sidebar-container {
    display: flex;
    border-radius: 20px; /* Add border-radius */
    flex-direction: row;
    column-gap: 20px;
    background-color: white;
}

#map-container,
#treemap-container,
#line-chart-container,
#bar-payer,
#bar-reciept,
#tables-container {
    flex: 1;
    padding: 20px;
    border-radius: 20px; /* Add border-radius */
}

#map-container {
    height: 700px;
}

#treemap-container,
#line-chart-container,
#bar-payer,
#bar-reciept {
    height: 500px;
}

#programs-table,
#objects-table {
    width: 100%;
}

#objects-table {
    margin-top: 20px;
}

#tables-container {
    width: calc(100% - 40px); /* Adjust width for padding */
    padding: 0 20px;
    border-radius: 20px; /* Add border-radius */
}

.row {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-select {
    width: 100%;
    height: 20px;
}

#container {
    padding-top: 1.5rem;
}